*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #555;
  padding: 3rem;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
  opacity: 0;
  pointer-events: none;
}

.show {
  display: block;
  opacity: 1;
  pointer-events: all;
}

.btn {
  cursor: pointer;
  border: none;
  font-family: inherit;
  font-size: 1.6rem;
  padding: 1rem;
  transition: all .4s ease-out;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn--send {
  background-color: #47aca7;
  color: #fff;
}

.btn--delete, .btn--edit {
  width: 50%;
  height: 3rem;
  padding: .2rem;
  font-size: 1.2rem;
  margin: 0 1.2rem;
  background-color: rgb(163, 94, 94);
  color: #fff;
}

.btn--edit {
  background-color: rgb(85, 165, 85);
}

.container {
  margin: 0 auto;
  width: 95vw;
  max-width: 95%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.content {
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 5rem;
}

.creation h2 {
  font-size: 3rem;
  margin-bottom: 3.2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form__field {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form__input, .form__select, .form__textarea {
  padding: 1rem;
  font-family: inherit;
  border: 1px solid #ddd;
}

.table-thead {
  background-color: #47aca7;
  padding: 1rem;
  width: 100%;
}

.table-tr {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.table-th {
  padding: 1rem;
  color: #fff;
  width: 100%;

  &:nth-child(1) {
    width: 15%;
  }

  &:nth-child(2) {
    width: 35%;
  }

  &:nth-child(3) {
    width: 40%;
  }

  &:nth-child(5) {
    width: 30%;
  }
}

.table-td {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  text-align: center;
  padding: 1rem 0;
  text-align: center;
  border: 1px solid #ddd;

  &:nth-child(1) {
    width: 15%;
  }

  &:nth-child(2) {
    width: 35%;
  }

  &:nth-child(3) {
    width: 40%;
  }

  &:nth-child(5) {
    width: 30%;
  }

}